<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.docker-host-alias</string>
  <key>ProgramArguments</key>
  <array>
    <string>/sbin/ifconfig</string>
    <string>lo0</string>
    <string>alias</string>
    <string>172.17.0.1</string>
  </array>
  <key>RunAtLoad</key> <true/>
  <key>Nice</key>
  <integer>10</integer>
  <key>KeepAlive</key>
  <false/>
  <key>AbandonProcessGroup</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/var/log/docker-host-alias.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/docker-host-alias.log</string>
</dict>
</plist>
